.btn-infinity {
  background: #F69221;
  color: #ffffff; }

.btn-infinity:hover, .btn-infinity:focus, .btn-infinity:active, .btn-infinity.active, .open > .dropdown-toggle.btn-infinity {
  background: #747474;
  color: #ffffff; }

.btn-infinity:active, .btn-infinity.active {
  background: #747474;
  color: #ffffff;
  box-shadow: none; }

.btn-infinityInv {
  background: #9e9e9e;
  color: #ffffff; }

.btn-infinityInv:hover, .btn-infinityInv:focus, .btn-infinityInv:active, .btn-infininfinityInvity.active, .open > .dropdown-toggle.btn-infinityInv {
  background: #F69221;
  color: #ffffff; }

.btn-infinityInv:active, .btn-infinityInv.active {
  background: #F69221;
  color: #ffffff;
  box-shadow: none; }

.pointer {
  cursor: pointer; }

.pagination > li.active > a {
  background: #F69221;
  color: #fff;
  border-color: #F69221; }

.pagination > li.active > a:hover {
  background: #747474;
  color: #fff;
  border-color: #747474; }

* {
  border-radius: 0 !important; }

.table .text-right {
  text-align: right; }

.table .text-left {
  text-align: left; }

.table .text-center {
  text-align: center; }

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
  word-break: break-all; }

.ucs {
  text-transform: uppercase;
  font-size: 0.8em; }

.ucsb {
  text-transform: uppercase;
  font-size: 0.90em;
  font-weight: bold;
  color: #000000; }

.modal-default {
  background-color: #EEEEEE; }

.navbar-default {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E7E7E7;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
  min-height: 50px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #C7C7C7; }

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #FFF; }

.panel-default > .panel-heading {
  color: #333;
  background-color: #E7E7E7;
  border-color: #ddd; }

.modal-default > .modal-heading {
  background-color: #E7E7E7; }

body {
  padding: 80px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F4F; }

.tooltip {
  z-index: 2000 !important; }

.footer-padding {
  height: 50px;
  width: 100%; }

.table td {
  text-align: center; }

.table th {
  text-align: center; }

#index-search {
  padding-top: 10px; }

.search-bar-div {
  min-width: 80%; }

#block-details-table {
  /*table-layout: fixed;*/
  /*word-wrap: break-word;*/ }

.modal-dialog {
  width: 90%; }

.borderless td, .borderless th {
  border: none; }

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%; }
